<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # If the request is for a real file or directory, serve it
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Otherwise, redirect all requests to index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>

# Enable CORS
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>
